{
  "hcUrl": "https://hc-util-backend.conceptant.com",
  "widgetUrl": "https://widget-manager-backend.conceptant.com/widget-server",
  "widgetApiUrl": "https://widget-manager-backend.conceptant.com",
  "hcResearchUrl": "https://research-prototype-backend.conceptant.com"
}