<adp-page-loader
  loading="vm.loading">
</adp-page-loader>

<adp-content-container
  class="single-record"
  ng-if="!vm.loading">

  <adp-section-container>
    <adp-page-title>{{vm.args.modelSchema.fullName}}</adp-page-title>

    <adp-page-description schema="vm.args.modelSchema"></adp-page-description>

    <button
      type="button"
      ng-if="!vm.editing && vm.showButton(vm.ACTIONS.CREATE)"
      ng-click="vm.enterEditMode()"
      class="btn btn-primary page-action"
    >
      Create
    </button>

    <button
      type="button"
      ng-if="!vm.editing && vm.showButton(vm.ACTIONS.UPDATE)"
      ng-click="vm.enterEditMode()"
      class="btn btn-primary page-action">
      Edit
    </button>
  </adp-section-container>

  <adp-section-container
    ng-if="!vm.editing">

    <adp-record-details
      schema="vm.args.modelSchema"
      data="vm.args.row">
    </adp-record-details>

  </adp-section-container>

  <adp-form
    class="single-record-form"
    ng-if="vm.editing"
    args="::vm.editArgs"
    form-options="::vm.formOptions"
  >
  </adp-form>
</adp-content-container>
