<adp-form
  class="login-form auth-form"
  enable-selector="false"
  adp-submit="vm.submit"
  adp-fields="vm.fields"
  disable-fullscreen="true"
>

  <form-header>
    Sign In
  </form-header>

  <form-footer>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary">
        {{vm.authParams.signInText}}
      </button>
    </div>

    <div class="separator text-center"><span class="separator-text">OR</span></div>

    <div class="text-center">
      Need an account?

      <a ui-sref="auth.register">
        {{vm.authParams.signUpText}}
      </a>
    </div>
  </form-footer>

</adp-form>
