* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }

.hidden { display: none !important; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.fleft { float: left; }
.fright { float: right; }

.loader-wrap {
    position: relative;
    height: 200px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content-box {
    background: white;
    border-color: #ccc;
}

.content-title {
    padding: 10px 5px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 6px;
    color: #000;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

form {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

input {
    margin-bottom: 6px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

input[readonly] {
    background-color: #eee;
    opacity: 1;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

.label-inline {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    color: #000;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

.form-control {
    width: 100%;
    display: block;
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #000;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

.form-field {
    margin-bottom: 10px
}

.btn {
    color: #fff;
    background-color: #275b89;
    display: inline-block;
    margin-top: 6px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0 22px;
    font-size: 14px;
    line-height: 29px;
    border-radius: 2px;
}
.btn-danger { background-color: #dc3545;}
.btn-sm {
    font-size: 12px;
    line-height: 22px;
    padding: 0 14px;
}
.btn:disabled {
    opacity: 0.8;
    cursor: not-allowed
}

.error-message {
    color: #b94a48
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

.message {font-size: 16px; line-height:  22px;}
.message__error { color: #dc3545;}
.message__success { color: #28a745;}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}
table, td, th { border: 1px solid #BED5E8; }
table:last-child { margin: 0; }

table > thead > tr:first-child > th {
    vertical-align: bottom;
}

table td,
table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
tr, td {page-break-inside: avoid;}

table th {
    font-weight: bold;
    text-align: left;
}

table tr { background-color: #fff; }

.table-accordion .td-accordion-parent,
.table-accordion .td-accordion-child { display: none; }
.td-accordion-child td {padding-left: 34px;}

.table-accordion .is-opened .td-accordion-parent { display: table-row; }
.table-accordion .is-opened .td-accordion-child { display: table-row; }

table .group {
    padding: 0;
    background-color: #C2D7E8;
    font-weight: bold;
    cursor: pointer;
}

table .group-head-content {
    padding: 8px 8px 8px 35px;
    position: relative;
    box-shadow: 0 4px 2px -2px #fff;
}

.table-btns { margin-bottom: 10px; }

table .td-inner {
    position: relative;
    padding-left: 55px;
}

table .td-inner .accordion-control {
    left: 30px;
}

.table .accordion-control {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}
.td-accordion-parent .accordion-control {
    top: 5px;
    bottom: auto;
    color: #7395b0;
}

.table .accordion-control:after { content: '\002B'; }
.table .accordion-control.is-active:after {content: '\2212'}

.table  .td-accordion-child.is-hidden { display: none; }

.table-sortable th {
    cursor: pointer;
    position: relative;
}

.sort-by {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    padding-right: 18px;
    opacity: 0.5;
}

.sort-by:after,
.sort-by:before {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
}
.sorted_asc .sort-by,
.sorted_desc .sort-by {
    opacity: 1;
}

.sorted_asc .sort-by:before { border-bottom-color: black; }
.sorted_asc .sort-by:after { display: none; }

.sorted_desc .sort-by:before { display: none; }
.sorted_desc .sort-by:after { border-top-color: black; }


.drugs-visualization-viewport svg {
    margin: auto;
}

.drugs-visualization-viewport .node-group,
.drugs-visualization-viewport .link-group,
.drugs-visualization-viewport .label-group {
    pointer-events: all;
    cursor: pointer;
}

.drugs-visualization-viewport .hovered .node,
.drugs-visualization-viewport .hovered .label-rect {
    fill: #f00 !important;
    cursor: pointer;
}

.drugs-visualization-viewport .hovered.link {
    stroke: #f00 !important;
}

.drugs-visualization-viewport .node-text {
    fill: black;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

.obj-ingredient-text, .obj-disease-text, .obj-pharma-class-text, .obj-physiologic-effect-text {
    fill: black;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}


.obj-drugs-text {
    fill: black;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px!important;
}

.link.inactive,
.node.inactive,
.node.inactive + text,
.label-group.inactive,
.node.inactive rect,
.node.inactive text {
    opacity: .2!important;
}

.node.inactive.selected rect,
.node.inactive.selected text {
    opacity: .6!important;
}

.ndc-lookup {position: relative;}
.ndc-lookup--searching {height: 380px;}
.ndc-lookup--not-found {height: 160px;}

.ndc-lookup__close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}
.ndc-lookup__input { margin-right: 10px; }
.ndc-lookup__btn {
    width: 75px;
    margin-top: 0;
}
.ndc-lookup__suggestions {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    max-height: 220px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
}
.ndc-lookup__suggestions-item {
    padding: 0 10px;
    line-height: 22px;
    cursor: default;
}
.ndc-lookup__suggestions-item:hover {background-color: rgba(204, 204, 204, 0.4);}

.ndc-lookup__results {padding: 10px;}
.ndc-lookup__result-list {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
}

.ndc-lookup__result-list {padding-left: 40px;}


.hc-chart-widget__list {
    width: 20%;
    float: left;
    border: 1px solid #ccc;
}

.hc-chart-widget__list ul {list-style: none;}

.hc-chart-widget__list-title {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

.hc-chart-widget__link {
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 5px;
}

.hc-chart-widget__link.is-active { background-color: #C2D7E8; }

.hc-chart-widget__chart {
    float: left;
    width: 80%;
    min-height: 400px;
}

@media screen and (max-width: 992px) {
 .hc-chart-widget__chart,
 .hc-chart-widget__list { width: 100%; }

 .hc-chart-widget__list ul {
     display: block;
     overflow: hidden;
 }

 .hc-chart-widget__list li {
     display: inline-block;
 }
}

.printable.content-title {display: none;}
@media print {
    .content-title,
    .sort-by,
    .table-btns { display: none; }

    .printable.content-title {display: block;}
}