{{#with this.list}}
  {{> trow}}
{{else}}
  <tr class="td-accordion-parent">
    <td
      colspan="{{@root.config.rowEnd}}"
      style="text-align: center;">
      No data to show.
    </td>
  </tr>
{{/with}}