<fieldset>
  <adp-form-field-factory
    ng-repeat="field in ::fields.notGrouped track by $index"
    adp-field="::field"
    adp-fields="::fields"
    adp-form-data="::formData"
    form-params="::adpFormParams"
    schema="::schema"
    validation-params="::validationParams"
  >
  </adp-form-field-factory>
</fieldset>

<fiedlset
  ng-if="!isEmpty()"
  class="fuelux">
  <div class="widget-body">
    <div class="wizard clearfix">
      <ul class="steps">
        <li
          ng-show="display(groupName)"
          ng-repeat="(groupName, group) in fields.groups track by $index"
          ng-click="setCurrent(groupName)"
          ng-wizard-menu-item="{{groupName}}"
          ng-class="{
                'active': currentName == groupName,
                'complete': groupCompleted(group.fields, form),
                'has-errors': groupHasErrors(group.fields, form),
              }">

          <span class="badge badge-info">{{$index + 1}}</span>
          <span ng-bind-html="getHeader(group)"></span>
          <span class="chevron"></span>
        </li>
      </ul>

      <div class="actions">
        <button
          type="button"
          ng-click="prev()"
          class="btn btn-sm btn-default btn-prev"
          ng-disabled="isFirst()"
        >
          <i class="fa fa-arrow-left"></i> Prev
        </button>

        <button
          type="button"
          class="btn btn-sm btn-success btn-next"
          ng-click="next()"
          ng-show="!isLast()"
        >
          Next <i class="fa fa-arrow-right"></i>
        </button>

        <button
          type="submit"
          class="btn btn-sm btn-primary btn-next"
          ng-show="isLast()"
        >
          Finish <i class="fa fa-check"></i>
        </button>
      </div>
    </div>

    <div class="step-content clearfix">
      <div
        ng-show="display(groupName)"
        ng-repeat="(groupName, group) in fields.groups track by $index"
        ng-group-name="{{groupName}}"
        class="step-pane"
        ng-class="{'active': currentName == groupName }">
        <h3 class="step-pane-title">
          <strong>Step {{$index + 1}}</strong> - {{group.fullName}}</h3>

        <adp-form-field-factory
          ng-repeat="field in group.fields track by $index"
          adp-field="::field"
          adp-fields="::fields"
          adp-form-params="::$parent.formParams"
          adp-form-data="::$parent.formData"
          schema="::$parent.schema"
          validation-params="::$parent.validationParams"
        >
        </adp-form-field-factory>
      </div>
    </div>

  </div>

</fiedlset>
