<adp-page-loader loading="vm.loading"></adp-page-loader>
<div id="adp-web-terminal-column-wrapper">
    <div id="adp-web-terminal-box">
        <div id="adp-web-terminal-container"></div>
    </div>
</div>
