multi-level-select[data-child] > div { margin-top: 10px; margin-left: 15px; }

.raw-questionaire {}
.cell-questionaire {
    height: 200px;
    overflow: hidden;
}

.table-list .cell-questionaire {
    height: auto;
    overflow: auto;
}
