<label class="select select-mutiple">
  <div
    class="geo-loader"
    ng-if="loading">
    <span class="fa fa-gear fa-4x fa-spin"></span>
  </div>

  <select
    ng-if="!loading"
    adp-select2
    style="width:100%"
    aria-label="{{field.keyName}}"
    class="select2 form-control"
    ng-required="isRequired()"
    adp-validate="validationParams"
    name="{{field.keyName}}"
    ng-model="adpFormData[field.keyName]"
    data-options="options"
    multiple
    id="{{field.keyName}}">
    <option value=""></option>

    <option
      ng-repeat="item in listOfValues track by $index"
      value="{{item.value}}">
      {{item}}
    </option>
  </select>

  <span class="select2-arrow" role="presentation"><b role="presentation"></b></span>
</label>