<div
  class="array-form-frame clearfix"
  ui-sortable="sortableCfg"
  ui-preserve-size
  ng-model="arrayData"
  arrays-path="args.path"
  ng-attr-adp-qaid-array="{{args.path}}"
>
  <ng-form
    ng-repeat="dataItem in arrayData track by dataItem._id"
    ng-if="display($index)"
    style="display: block"
    class="array-ng-form-frame clearfix"
    name="{{field.fieldName + '[' + $index + ']'}}"
    ng-attr-adp-qaid-array-item="{{args.path + '[' + $index + ']'}}"
  >

    <div
      class="subform-frame clearfix"
      ng-class="{
        'subform-frame--is-collapsed': !visibilityStatus[$index],
        'subform-frame--invalid': rootForm.$submitted && form[field.fieldName + '[' + $index + ']'].$invalid,

       }"
    >
      <h3
        class="subform-frame__title"
        ng-class="{
          'subform-frame__title--invalid': rootForm.$submitted && form[field.fieldName + '[' + $index + ']'].$invalid,
          'subform-frame__title--opened': visibilityStatus[$index]
         }"
      >
          <div
            class="subform-frame__panel"
            ng-attr-adp-qaid-complex-field-header="{{args.path + '[' + $index + ']'}}"
          >
          <button
            type="button"
            class="subform-frame__collapse subform-frame__btn fa"
            ng-click="toggle($event, $index)"
            ng-class="{
              'fa-minus-square-o': visibilityStatus[$index],
              'fa-plus-square-o': !visibilityStatus[$index]
            }"
            ng-attr-adp-qaid-complex-field-collapse-btn="{{args.path + '[' + $index + ']'}}"
          ></button>

          <div
            ng-attr-adp-qaid-complex-field-header-text="{{args.path + '[' + $index + ']'}}"
            ng-bind-html="getHeader($index)"
            class="subform-frame__header-text"
          ></div>

          <button
            type="button"
            class="subform-frame__move-to-bottom subform-frame__btn fa fa-level-up"
            ng-show="showMoveToTop($index)"
            ng-click="moveToTop($event, $index)"
            ng-attr-adp-qaid-complex-field-move-to-top-btn="{{args.path + '[' + $index + ']'}}"
          ></button>

          <button
            type="button"
            class="subform-frame__move-to-top subform-frame__btn fa fa-level-down"
            ng-show="showMoveToBottom($index)"
            ng-click="moveToBottom($event, $index)"
            ng-attr-adp-qaid-complex-field-move-to-top-btn="{{args.path + '[' + $index + ']'}}"
          ></button>

          <button
            type="button"
            class="subform-frame__remove subform-frame__btn fa fa-trash"
            ng-disabled="isRemoveDisabled()"
            ng-click="remove($event, $index)"
            ng-attr-adp-qaid-complex-field-remove-btn="{{args.path + '[' + $index + ']'}}"
          ></button>
        </div>

        <div class="subform-frame__errors-cnt">
          <div ng-if="rootForm.$submitted">
            <span ng-show="errorCount[$index] == 1">
              {{errorCount[$index]}} error found.
            </span>

            <span ng-show="errorCount[$index] >= 2">
              {{errorCount[$index]}} errors found.
            </span>
          </div>
        </div>
      </h3>

      <div
        class="subform-frame__content clearfix"
        ng-hide="!visibilityStatus[$index]"
      >
        <array-key-control
          ng-if="$parent.args.fieldSchema.type === 'AssociativeArray'"
          args="::args"
          index="::$parent.$index"
          array-item="::$parent.dataItem"
          form-context="::$parent.formContext"
        ></array-key-control>

        <div class="adp-form-fieldset">
          <adp-form-field-factory
            ng-repeat="subField in ::arrayFields"
            args="::args"
            form-context="::$parent.formContext"
            field-name="::subField.fieldName"
            index="::$parent.$index"
          ></adp-form-field-factory>
        </div>
      </div>

    </div>

  </ng-form>
</div>

<div
  ng-show="hasVisibleItems()"
  class="array-form-btns clearfix">
  <button
    type="button"
    class="btn btn-default js-array-add-item-btn"
    ng-click="addArrayItem()"
    ng-attr-adp-qaid-add-array-item-btn="{{args.path}}"
  >
    Add new "{{field.fullName}}"
  </button>
</div>
