<div class="modal-header text-center">
  <h3 class="modal-title">
    Make a photo
  </h3>

  <adp-uploader-errors
    uploader="vm.uploader">
  </adp-uploader-errors>
</div>

<div class="modal-body">
  <adp-photo-recorder
    player="vm.player"
    result-file="vm.resultFile"
    options="vm.options">
  </adp-photo-recorder>
</div>

<div class="modal-footer">
  <button
    class="adp-action-b-secondary"
    type="button"
    ng-click="vm.cancel()">
    Cancel
  </button>

  <button
    class="adp-action-b-tertiary"
    type="button"
    ng-if="vm.isEmpty() && vm.player.record().isRecording()"
    ng-click="vm.capturePhoto()">
    Take a photo
  </button>

  <button
    class="adp-action-b-tertiary"
    type="button"
    ng-if="!vm.isEmpty()"
    ng-click="vm.retryPhoto()">
    Retry photo capture
  </button>

  <button
    class="adp-action-b-primary"
    type="button"
    ng-disabled="vm.isEmpty()"
    ng-click="vm.save()">
    Save
  </button>
</div>
