<div class="array-form-frame clearfix">
  <ng-form
    class="array-ng-form-frame clearfix"
    ng-repeat="dataItem in getData() track by $index"
    name="{{field.keyName + $index}}">

    <div
      class="subform-frame clearfix"
      ng-class="{
        'subform-frame--is-collapsed': !visibilityStatus[$index],
        'subform-frame--invalid': rootForm.$submitted && form[field.keyName + $index].$invalid
       }"
    >
      <h3
        class="subform-frame__title"
        ng-class="{
          'subform-frame__title--invalid': rootForm.$submitted && form[field.keyName + $index].$invalid,
          'subform-frame__title--opened': visibilityStatus[$index]
         }"
      >
        <div>
          <button
            type="button"
            class="subform-frame__collapse subform-frame__btn btn fa"
            ng-click="toggle($event, $index)"
            ng-class="{
            'fa-minus-square-o': visibilityStatus[$index],
            'fa-plus-square-o': !visibilityStatus[$index]
          }"
          >
          </button>

          {{field.fullName}}

          <button
            type="button"
            class="subform-frame__remove subform-frame__btn btn fa fa-trash"
            ng-disabled="getData().length == 1"
            ng-click="remove($event, $index)"
          >
          </button>
        </div>

        <div>
          <div ng-if="rootForm.$submitted">
            <span ng-show="errorCount[$index] == 1">
              {{errorCount[$index]}} error found.
            </span>

            <span ng-show="errorCount[$index] >= 2">
              {{errorCount[$index]}} errors found.
            </span>
          </div>
        </div>
      </h3>

      <div
        class="subform-frame__content clearfix"
        ng-hide="!visibilityStatus[$index]"
      >
        <array-controls-factory
          ng-repeat="subField in getFields($index)"
          field="subField"
          form-data="$parent.dataItem"
          validation-params="childValidationParams"
        >
        </array-controls-factory>
      </div>

    </div>

  </ng-form>

</div>

<div class="array-form-btns clearfix">
  <button
    type="button"
    class="btn btn-default"
    ng-click="add()"
  >
    Add new "{{field.fullName}}"
  </button>
</div>