<label class="select">
  <div
    class="geo-loader"
    ng-if="loading">
    <span class="fa fa-gear fa-4x fa-spin"></span>
  </div>

  <select
    ng-if="!loading"
    adp-select2
    data-options="options"
    style="width:100%"
    aria-label="{{field.keyName}}"
    class="select2 form-control"
    ng-required="field.required"
    adp-validate="field"
    name="{{field.keyName}}"
    ng-model="adpFormData[field.keyName]"
    id="{{field.keyName}}">
    <option value=""></option>

    <option
      ng-repeat="item in listOfValues track by $index"
      value="{{item.value}}">
      {{item}}
    </option>
  </select>

</label>