<table class="table-regular table table-striped table-bordered table-hover dt-responsive no-wrap">
  <thead>
    <tr class="filters columnFilters">
      <th
        ng-repeat="head in heads track by $index"
        ng-if="heads"
        class="hasinput"
        ng-class="[head.type, 'name-' + head.name]">
        <adp-tables-filter
          head="head">
        </adp-tables-filter>
      </th>

      <th
        ng-if="!!actionCbs"
        ng-style="actionsStyles"
        class="actions-columns name-actions-columns"
      ></th>
    </tr>
  </thead>

  <tbody></tbody>
</table>
