<label class="input">
  <div
    class="geo-loader"
    ng-if="detecting"
  >
    <span class="fa fa-gear fa-4x fa-spin"></span> <span class="geo-loader-text">Locating...</span>
  </div>

  <input
    readonly
    ng-if="!fieldParams.showAddress"
    ng-model="getterSetterForLabel"
    ng-model-options="{ getterSetter: true }"
    class="form-control"
  >

  <input
    places-auto-complete
    ng-keypress="preventSubmitOnEnter($event)"
    class="form-control-location form-control"
    ng-class="{ detecting: detecting }"
    ng-model="getterSetterForLabel"
    ng-model-options="{ getterSetter: true }"
    ng-disabled="detecting"
    ng-if="isReady && fieldParams.showAddress"
    on-place-changed="placeChanged()"
  />

  <input
    name="{{args.fieldSchema.fieldName}}"
    id="{{args.fieldSchema.fieldName}}"
    adp-validate="args"
    style="display: none;"
    ng-model="getterSetter"
    ng-model-options="{ getterSetter: true }"
    ng-required="isRequired()"
    class="form-control"
  />

  <adp-messages ng-attr-adp-qaid-field-error-messages="{{args.path}}" args="::args"></adp-messages>

  <button
    class="adp-form-field-location-btn btn btn-primary"
    ng-click="detect()"
    ng-if="fieldParams.showLocate"
    type="button">
    Detect location
  </button>

  <ng-map
    ng-if="isReady && fieldParams.showMap"
    on-click="onClick()"
    zoom="{{map.zoom}}"
    center="{{map.center}}">
    <marker
      position="{{map.markerPosition}}">
    </marker>
  </ng-map>

</label>
