<div class="router-animation-container" style="height: auto; overflow: visible;">
    <div data-ui-view="content" data-autoscroll="false" style="">
      <adp-content-container>
        <div id="content" class="clearfix">
          <adp-section-container>
            <div class="well" style="min-height:350px">
<img src="https://widget-manager-backend.conceptant.com/public/logos/hc-logo-full.png" align="left" style="padding-right:20px; width: 300px">
<h2>HEALTHY CITIZEN DISCLAIMER</h2>
<p>Do not rely on Healthy Citizen to make decisions regarding your medical care. Always share this information with and consult with your healthcare practitioner about the potential risks and benefits of using any FDA-regulated products. Specifically,</p><ul>
<li>Patients should never stop or change medication without first consulting with your healthcare practitioner.</li>
<li>Health Citizen consolidates information from several trusted government data sources and each data source has its own update frequency. Healthy Citizen provides you the most current data available from each trusted source.</li>
<p>Healthy Citizen delivers you trusted information on the FDA regulated products that you use to enable you to make better and informed decisions about your health in conjunction with your health practitioners.</p>
<h2>WHAT ARE HEALTHY CITIZEN WIDGETS?</h2>
<p>The vast amount of public information on government websites can be hard to digest. Healthy Citizen widgets were designed to address this challenge. By harnessing the data on government health sites--especially those hosted by FDA—Healthy Citizen gives you current, targeted, and trusted health information on approved FDA-regulated products.</p>
<p>Whether you’re a patient, caregiver, healthcare practitioner, or researcher – Healthy Citizen makes it easier for you to improve health outcomes. With Healthy Citizen, patients and caregivers can access information on recalls, potential negative side effects, and potential drug-to-drug interactions related to approved FDA-regulated products. The widgets can present data in dynamic tables, intuitive graphs and/or interactive visualizations. Patients and caregivers can use this information when speaking with their healthcare practitioner to facilitate the shared decision-making process, leading to more informed health choices.</p>
<p>Healthy Citizen delivers you trusted FDA information on regulated products and supports FDA’s goal of empowering consumers to make better and more informed decisions about their health.</p>
            </div>
          </adp-section-container>
        </div>
      </adp-content-container>
    </div>
</div>
