<form
  name="form"
  class="smart-form client-form"
  ng-class="[formActionClass, args.modelSchema.schemaName]"
  novalidate
  adp-fullscreen
  ng-submit="submit(args, cloneParams)"
  >
  <header class="smart-form-header">
    <span ng-transclude-replace="header"></span>

    <adp-fullscreen-button></adp-fullscreen-button>
  </header>

  <div ng-switch="groupingType">
    <div ng-switch-when="accordion">
      <adp-form-group-accordion
        fields="::topScopeFields"
        form-data="::args.row"
        schema="::args.modelSchema"
        validation-params="::validationParams"
      >
      </adp-form-group-accordion>
    </div>

    <div ng-switch-when="wizard">
      <adp-form-group-wizard
        fields="::topScopeFields"
        form-data="::args.row"
        schema="::args.modelSchema"
        validation-params="::validationParams"
      >
      </adp-form-group-wizard>
    </div>

    <div ng-switch-when="grouping">
      <adp-form-group-grouping
        fields="::topScopeFields"
        form-data="::args.row"
        schema="::args.modelSchema"
        validation-params="::validationParams"
      >
      </adp-form-group-grouping>
    </div>

    <fieldset ng-switch-default>
      <adp-form-field-factory
        ng-repeat="field in ::topScopeFields.notGrouped track by $index"
        adp-field="::field"
        adp-fields="::topScopeFields"
        adp-form-data="::args.row"
        schema="::args.modelSchema"
        validation-params="::validationParams"
      >
      </adp-form-field-factory>
    </fieldset>
  </div>

  <fieldset
    class="form-error-count input-container state-error"
    ng-if="form.$submitted && errorCount > 0"
  >
    <div class="note-error col col-12 text-right">
      <span ng-show="errorCount == 1">
        {{errorCount}} error found in the form.
      </span>

      <span ng-show="errorCount >= 2">
        {{errorCount}} errors found in the form.
      </span>
    </div>
  </fieldset>

  <div
    ng-transclude-replace="footer"
    ng-if="formOptions.localActionsStrategy"
  >
  </div>

  <adp-form-actions
    ng-if="formOptions.schemaActionsStrategy"
  >
  </adp-form-actions>
</form>

<adp-page-loader class="adp-position-center" loading="loading"></adp-page-loader>
