<div class="modal-header">
    <h3 class="modal-title">{{vm.options.title}}</h3>
</div>
<div class="modal-body readFile-action-modal">
    <section class="input-container" ng-class="{'state-error': vm.error}">
        <input type="file" select-ng-file ng-model="vm.fileArray" ng-change="vm.onChange()">
        <div class="note note-error" ng-if="vm.error">
            {{vm.error}}
        </div>
    </section>
</div>
<div class="modal-footer">
    <button
            class="btn btn-primary"
            type="submit"
            ng-click="vm.onReadFile()"
            ng-disabled="vm.error"
    >
        {{ vm.options.uploadButtonText }}
    </button>
    <button
            class="btn btn-default"
            type="button"
            ng-click="vm.cancel()">
        Cancel
    </button>
</div>
