<div class="modal-header text-center">
  <h3 class="modal-title">
    Record video
  </h3>

  <adp-uploader-errors
    uploader="vm.uploader">
  </adp-uploader-errors>
</div>

<div class="modal-body">
  <adp-video-recorder
    result-file="vm.resultFile"
    options="vm.options">
  </adp-video-recorder>
</div>

<div class="modal-footer">
  <button
    class="btn btn-primary"
    type="button"
    ng-disabled="vm.isEmpty()"
    ng-click="vm.save()">
    Save
  </button>

  <button
    class="btn btn-default"
    type="button"
    ng-click="vm.cancel()">
    Cancel
  </button>
</div>
