<div
  dx-accordion="accordionOptions"
  dx-item-alias="group"
  class="view-details-accordion"
>
  <div data-options="dxTemplate : { name: 'title' } ">
    {{group.fullName}} <adp-tooltip adp-field="::group"></adp-tooltip>
  </div>

  <div data-options="dxTemplate : { name: 'group' } ">
    <div class="accordion-item">

      <div class="adp-row">
        <div
          ng-repeat="field in group.fields track by $index"
          ng-class="[selectColumnClass(field)]"
          ng-if="group.fields && showValue(field)"
        >
          <record-details-value-row
            field="::field"
            schema="::schema"
            record="::record"
          ></record-details-value-row>
        </div>
      </div>

    </div>
  </div>
</div>
