<h1>
    {{interface.app.title}}
</h1>

<div class="hero">
    <div>
        <!--
        <img ng-src="{{CONSTANTS.apiUrl}}/{{interface.app.logo.small}}"
             class="pull-left"
             alt="">
             -->
        <h4 class="paragraph-header">{{interface.app.slogan}}</h4>
    </div>
    <div>
        <a href="{{CONSTANTS.apiUrl}}/public/apps/android.apk">
            <!--
            <img ng-src="{{CONSTANTS.apiUrl}}/public/img/android-app.png"
                class="pull-left"
                alt=""/> -->Download our Android application</a>
    </div>
</div>