<adp-content-container>
    <adp-section-container>
        <adp-page-title>
            About This website
        </adp-page-title>
    </adp-section-container>
    <adp-section-container>
        <p>{{vm.INTERFACE.app.product}} was developed for {{vm.INTERFACE.app.client}} by Conceptant, Inc using our Accelerated Development Platform.</p>
        <p>You can learn more about Conceptant at <a href="https://conceptant.com">https://conceptant.com</a></p>
    </adp-section-container>
    <adp-section-container>
        <img src="{{vm.CONSTANTS.apiUrl}}/public/logo/139x217.png" style="float: left; height: 50px; padding: 0 10px 0 0;">
        <span>Conceptant, Inc. is a high-energy technology innovator that develops cutting-edge tools and solutions to improve the human condition. We combine our passion for changing people’s lives for the better with expertise in information technology, business management, and healtadpare to design sustainable and scalable solutions for private and public sector firms. We work closely with like-minded individuals and companies to generate, test, and refine ideas, guiding projects from initial prototype to deployed products.</span>
    </adp-section-container>
</adp-content-container>