<adp-form-field-container
  adp-data="data"
  adp-field="field">

  <label
    class="label">
    {{field.fullName}}
    <span ng-show="field.required">&nbsp;*</span>

    <adp-tooltip
      adp-field="field">
    </adp-tooltip>
  </label>

  <label class="select">
    <select
      adp-select2
      data-options="options"
      style="width:100%"
      aria-label="{{field.keyName}}"
      class="select2 form-control"
      ng-required="field.required"
      adp-validate="field"
      name="{{field.keyName}}"
      ng-model="adpFormData[field.keyName]"
      id="{{field.keyName}}">
      <option value=""></option>

      <option
        ng-repeat="item in listOfValues track by $index"
        value="{{item.value}}">
        {{item}}
      </option>
    </select>
  </label>

  <adp-messages
    adp-field="field">
  </adp-messages>

</adp-form-field-container>