<hc-page-loader
        loading="vm.loading">
</hc-page-loader>

<hc-content-container
        class="multi-record"
        ng-if="!vm.loading">

    <hc-section-container>
        <hc-page-title>{{ vm.schema.fullName }}</hc-page-title>

        <button
                ng-if="!vm.schema.serverSide"
                type="button"
                ng-click="vm.create()"
                class="btn btn-primary page-action">
            Create New
        </button>
    </hc-section-container>

    <hc-section-container>
        <hc-section-title>
            Create New Pool from Selected Participants
        </hc-section-title>

        <form
                ng-submit="poolForm.$valid && vm.createPool()"
                name="poolForm"
                class="smart-form client-form">

            <section class="input-container">
                <label class="label">
                    New Pool Name
                </label>

                <label class="input">
                    <input type="text"
                           name="poolName"
                           ng-model="vm.poolParams.name"
                           ng-required
                           class="form-control">
                </label>
            </section>

            <div class="form-row">
                <button
                        ng-if="!vm.schema.serverSide"
                        type="submit"
                        ng-disabled="!vm.poolParams.name && !vm.filteredData.length"
                        class="btn btn-primary page-action">
                    Create Pool
                </button>
            </div>
        </form>

    </hc-section-container>

    <hc-section-container
            ng-if="!vm.pageData.length">
        <hc-section-title>No data to show.</hc-section-title>
    </hc-section-container>

    <hc-section-container
            ng-if="vm.pageData.length">

        <hc-table
                schema="vm.schema"
                data="vm.pageData"
                url="vm.resourceUrl"
                has-details="vm.hasDetails"
                filtered-data="vm.filteredData"
                update="vm.update"
                delete="vm.delete">
        </hc-table>

    </hc-section-container>

</hc-content-container>
