<fieldset>
  <adp-form-field-factory
    ng-repeat="field in fields.notGrouped track by $index"
    adp-field="field"
    adp-fields="fields"
    adp-form-data="formData"
    form-params="adpFormParams"
    schema="schema"
    validation-params="validationParams"
  >
  </adp-form-field-factory>
</fieldset>

<fiedlset
  adp-accordion
  adp-accordion-options="formParams">
  <div>
    <div
      ng-show="display(groupName)"
      class="adp-form-fieldset"
      ng-class="{'has-errors': groupHasErrors(group.fields, form) }"
      ng-repeat="(groupName, group) in fields.groups track by $index"
    >

      <div class="adp-form-group-head">
        <h4 ng-bind-html="$parent.getHeader(group)"></h4>

        <adp-form-group-messages
          form-group="group.fields">
        </adp-form-group-messages>
      </div>

      <div class="adp-form-group-body padding-10">
        <adp-form-field-factory
          ng-repeat="field in group.fields track by $index"
          adp-field="field"
          adp-fields="fields"
          adp-form-params="$parent.formParams"
          adp-form-data="$parent.formData"
          schema="$parent.schema"
          validation-params="$parent.validationParams"
        >
        </adp-form-field-factory>
      </div>
    </div>
  </div>
</fiedlset>