<div class="content-box">
  <h1 class="content-title">Drugs Interactions Visual Map</h1><br>
    <h4 class="content-title">The data presented here is for informational purposes only. Please discuss this information with your healthcare practitioner(s)</h4>

  <div class="drugs-visualization-viewport">
    <svg width="1200" height="768"></svg>
  </div>
</div>
