APPLICATION_TITLE="Conceptant GSRS 3D demonstration"
JSON_DATA_FILE_PATH=./data/
STYLES_FILE=./styles.json
DEFAULT_STYLES_FILE=./defaults.json
DEFAULT_CONFIG_FILE=./config.json
ALLOW_PERFORMANCE_MONITOR=true
GSRS_WEBSITE_BASE_URI=https://gsrs.ncats.nih.gov/ginas/app/beta/substances/
BUILD_LEGEND_DYNAMICALLY=true
MERGE_SIMILAR_LEGEND_ITEMS=false
