<hc-content-container>

    <hc-section-container>
        <hc-widget
                ng-if="!vm.loading && vm.fhirId"
                widget-id="{{'test-1528713270317'}}"
                fhir-id="{{vm.fhirId}}"
                hc-research-url="{{vm.hcResearchUrl}}"
                fhir-data-url="{{vm.fhirDataUrl}}"
                patient-data="vm.patientData"
                url="{{vm.url}}"
        >
        </hc-widget>

        <p ng-if="!vm.loading && !vm.fhirId">No fhir id found.</p>
    </hc-section-container>

</hc-content-container>
