<div class="ndc-lookup-results">
  <p><strong>NDC:</strong> {{ndc}}</p>
  <p><strong>RxNorm Name:</strong> {{name}}</p>
  <p><strong>Other Names:</strong></p>

  <ul>
    {{#each names}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>