<div class="content-box">
  <h1 class="content-title">NDC Lookup:</h1>
    <h4 class="content-title">The data presented here is for informational purposes only. Please discuss this information with your health practitioner(s)</h4>

  <form class="ndc-lookup" novalidate>
    <div class="clearfix">
      <input type="text" class="form-control fleft">
      <button class="btn fleft" type="submit">Find</button>
    </div>

    <div class="error-message client" style="display: none;">
      Doesn't look like NDC. NDC contains only number and '-'.
    </div>

    <div class="error-message server" style="display: none;"></div>

    <div class="ndc-lookup-results" style="display: none;"></div>
  </form>
</div>