<adp-form
  class="login-form auth-form"
  args="::vm.args"
  form-options="::vm.formOptions"
>

  <form-header>
    Please provide email to send reset link
  </form-header>

  <form-footer>
    <footer>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary">
          {{vm.authParams.emailResetLinkText || "Email reset link"}}
        </button>
      </div>

      <div class="text-center">
        Back to
        <a ui-sref="auth.login">
          {{vm.authParams.signInText}}
        </a>

      </div>
    </footer>
  </form-footer>
</adp-form>
