<adp-form
  class="login-form auth-form"
  args="::vm.args"
  form-options="::vm.formOptions"
>

  <form-header>
    Sign In
  </form-header>

  <form-footer>
    <footer>
      <div class="text-center">
        <button
          type="submit"
          data-action-name="submit"
          class="btn btn-primary"
        >
          {{vm.authParams.signInText}}
        </button>
      </div>

      <div
        ng-if="vm.showSignUp"
        class="separator text-center"
      >
        <span class="separator-text">OR</span>
      </div>

      <div
        ng-if="vm.showSignUp"
        class="text-center">
        Need an account?

        <a ui-sref="auth.register">
          {{vm.authParams.signUpText}}
        </a>
      </div>

      <div ng-if="vm.showReset"
        class="text-center">
        Forgot password?

        <a ui-sref="auth.forgot">
          {{vm.authParams.resetPasswordText || "Reset password"}}
        </a>
      </div>
    </footer>
  </form-footer>
</adp-form>
