<adp-form
  class="auth-form"
  args="::vm.args"
  form-options="::vm.formOptions"
>

  <form-header>
    Enter Account Information
  </form-header>

  <form-footer>
    <footer>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary">
          {{vm.authParams.signUpText}}
        </button>
      </div>

      <div
        ng-if="vm.showLogin"
        class="separator text-center">
        <span class="separator-text">OR</span>
      </div>

      <div
        ng-if="vm.showLogin"
        class="text-center">
        Already registered?

        <a ui-sref="auth.login">
          {{vm.authParams.signInText}}
        </a>
      </div>
    </footer>
  </form-footer>
</adp-form>
