<div class="router-animation-container" style="height: auto; overflow: visible;">
    <div data-ui-view="content" data-autoscroll="false" style="">
      <adp-content-container>
        <div id="content" class="clearfix">
          <adp-section-container>
            <div class="well">
<h2>Future Location of Visualizations</h2>
            </div>
          </adp-section-container>
        </div>
      </adp-content-container>
    </div>
</div>
