<ul class="ndc-lookup__suggestions-list">
  {{#each suggestions}}
    <li
      data-id="{{this._id}}"
      class="ndc-lookup__suggestions-item js-suggestion">
      {{this.brandName}} ({{this.srcNdc}})
    </li>
  {{else}}
    <li class="ndc-lookup__suggestions-item">Nothing found.</li>
  {{/each}}
</ul>