<label class="select">
  <div class="lookup-row clearfix"
       ng-class="{'lookup-row--multi': subjectNames.length > 1 }">

    <div
      class="lookup-col lookup-col--left"
      ng-if="subjectNames.length > 1"
    >
      <select
        adp-select2
        style="width:100%"
        aria-label="{{'subject_' + field.keyName}}"
        class="select2 form-control"
        ng-model="selectedSubject.selected"
        data-placeholder="Choose subject"
        id="{{'subject_' + field.keyName}}">
        <option value=""></option>

        <option
          ng-repeat="(key, subject) in subjects track by $index"
          value="{{key}}">
          {{subject.table}}
        </option>
      </select>
      <br><br>
    </div>

    <div
      ng-if="selectedSubject.selected || !isEmpty()"
      class="lookup-col lookup-col--right">

      <label class="select select-mutiple">

      <span
        ng-if="loading"
        ng-style="!loading && {'animation-play-state': 'paused'}"
        class="form-field-loader fa fa-gear fa-2x fa-spin">
      </span>

        <input
          type="text"
          adp-select2
          style="width:100%"
          aria-label="{{field.keyName}}"
          ng-change="change()"
          class="select2 form-control"
          ng-required="isRequired()"
          adp-validate="validationParams"
          adp-list-formatter
          data-options="options"
          name="{{field.keyName}}"
          ng-model="adpFormData[field.keyName]"
          id="{{field.keyName}}">

        <span class="select2-arrow" role="presentation"><b role="presentation"></b></span>
      </label>
    </div>

  </div>
</label>