<div
  class="adp-row"
  ng-class="[vm.schema.schemaName]"
>
  <div
    ng-repeat="field in vm.fields.notGrouped track by $index"
    ng-class="[vm.selectColumnClass(field)]"
    ng-if="vm.fields && vm.showValue(field)"
  >
    <record-details-value-row
      field="::field"
      schema="::vm.schema"
      record="::vm.record"
    ></record-details-value-row>
  </div>

  <div
    class="adp-col adp-col-12"
    ng-if="vm.showAccordion()"
  >
    <div class="view-details-row view-details-row-group">
      <record-details-grouping
        groups="::vm.fields.groups"
        schema="::vm.schema"
        record="::vm.record"
      ></record-details-grouping>
    </div>
  </div>
</div>
