<form class="content-box">
    <div class="form-body"></div>

    <div class="clearfix">
        <button
            class="btn btn-default fleft hidden"
            data-paginate="prev"
            type="button">
            Previous
        </button>


        <button
            class="btn btn-default fright hidden"
            data-paginate="next"
            type="button">
            Next
        </button>

        <button
            class="btn fright hidden"
            type="submit">
            Submit
        </button>
    </div>
</form>