<div class="content-box">
  <h1 class="content-title">Drug Recalls</h1>
    <h4 class="content-title">The data presented here is for informational purposes only. Please discuss this information with your health practitioner(s)</h4>
</div>