<div
  class="adp-inline-form-control"
  ng-class="[columnClass, fieldNameClass]"
>
  <lookup-table-selector
    class="adp-inline-form-control-left"
    props="props"
  >
  </lookup-table-selector>

  <lookup-selector-single
    class="adp-inline-form-control-right"
    ng-if="!multiple"
    props="props"
  >
  </lookup-selector-single>

  <lookup-selector-multiple
    class="adp-inline-form-control-right"
    ng-if="multiple"
    props="props"
  >
  </lookup-selector-multiple>

  <input
    type="text"
    class="hidden"
    style="width:100%"
    adp-validate="args"
    ng-required="isRequired()"
    name="{{args.fieldSchema.fieldName}}"
    id="{{args.fieldSchema.fieldName}}"
    ng-model="getterSetter"
    ng-model-options="{ getterSetter: true }"
  >
</div>
