<footer class="adp-action-b-container" adp-ui-buttons-handle-keyboard>
  <button
    ng-repeat-start="(name, action) in actions"
    ng-if="visibleGetter(action) && ['module', 'action'].includes(action.action.type)"
    ng-class="[action.className]"
    data-action-name="{{name}}"
    ng-click="execFormAction(action, name)"
    ng-attr-style="{{action.htmlAttributes.style}}"
    ng-attr-type="{{action.htmlAttributes.type}}"
    ng-attr-title="{{action.description}}"
    ng-attr-adp-qaid-form-action="{{name}}"
    ng-disabled="disabledState(action)"
  >
    <span ng-if="hasIcon(action)" ng-bind-html="getIcon(action.icon)"></span>
    <span ng-if="hasFullName(action)">{{ fullNameGetter(action) }}</span>
  </button>

  <a
    ng-repeat-end
    ng-if="action.action.type === 'link' && visibleGetter(action)"
    ng-href="{{action.action.link}}"
    target="_blank"
    ng-class="[action.className]"
    data-action-name="{{name}}"
    ng-attr-style="{{action.htmlAttributes.style}}"
    ng-attr-type="{{action.htmlAttributes.type}}"
    ng-attr-title="{{action.description}}"
    ng-attr-adp-qaid-form-action="{{name}}"
  >
    <span ng-if="hasIcon(action)" ng-bind-html="getIcon(action.icon)"></span>
    <span ng-if="hasFullName(action)">{{ fullNameGetter(action) }}</span>
  </a>
</footer>
