<fieldset>
  <div class="adp-form-fieldset">
    <adp-form-field-factory
      ng-repeat="field in fields.notGrouped track by $index"
      field-name="::field.fieldName"
      args="::args"
      form-context="::$parent.formContext"
    ></adp-form-field-factory>
  </div>
</fieldset>

<section id="widget-grid"></section>

<fiedlset
  adp-jarvis-widgets
  id="widget-grid"
  options="::formParams"
>
  <div
    ng-show="display(groupName)"
    ng-class="{'has-errors': groupHasErrors(group.fields, form) }"
    ng-repeat="(groupName, group) in ::fields.groups track by $index"
    ng-group-name="{{groupName}}"
    class="adp-widget jarviswidget adp-form-fieldset"
    ng-attr-id="{{ 'jarviswidget-' + $id }}"
    ng-attr-adp-qaid-group-name="{{groupName}}"
  >
    <header class="adp-widget-header">
      <span class="widget-icon"><i class="fa fa-eye"></i></span>
      <h2 ng-attr-adp-qaid-group-header="{{groupName}}">
        <span ng-bind-html="getHeader(group)"></span>
        <adp-tooltip adp-field="group"></adp-tooltip>
      </h2>
    </header>

    <div class="widget-body adp-form-group-body adp-form-fieldset">
      <adp-form-field-factory
        ng-repeat="field in ::group.fields track by $index"
        field-name="::field.fieldName"
        args="::$parent.args"
        form-context="::$parent.formContext"
      ></adp-form-field-factory>
    </div>
  </div>
</fiedlset>
