<h1>
    {{interface.app.title}}
</h1>

<div class="hero">
    <div class="pull-left login-desc-box-l">
        <h4 class="paragraph-header">{{interface.app.slogan}}</h4>
    </div>

    <img ng-src="{{interface.app.logo.large}}"
         class="pull-right display-image"
         alt="">
</div>