<adp-page-loader
        loading="vm.loading">
</adp-page-loader>

<adp-content-container
        class="multi-record"
        ng-if="!vm.loading">

      <adp-section-container>
        <adp-page-title>{{ vm.data.fullName }}</adp-page-title>
      </adp-section-container>

      <adp-section-container
        class="adp-data-grid-container"
      >
        <div dx-data-grid="vm.tableConfig"
          ng-if="!vm.isEmpty"
        ></div>
      </adp-section-container>

    <adp-section-container ng-if="vm.isEmpty">
        <adp-section-title>No data to show.</adp-section-title>
    </adp-section-container>

</adp-content-container>
