<adp-content-container class="multi-record">
  <adp-section-container>
    <adp-page-title>{{ vm.schema.fullName }}</adp-page-title>

    <adp-page-description schema="vm.schema"></adp-page-description>
  </adp-section-container>

  <adp-section-container ng-if="vm.isUser">
      <adp-section-title>
          Add selected participants to pool
      </adp-section-title>

      <form
          ng-submit="poolForm.$valid && vm.addParticipantsToPool()"
          name="poolForm"
          class="smart-form client-form">

          <section class="input-container">
              <label class="label">Pool Name (will be created if not exists)</label>

              <label class="input">
                  <input type="text"
                         name="poolName"
                         ng-model="vm.poolParams.name"
                         ng-required
                         ng-disabled="vm.sending"
                         class="form-control">
              </label>
          </section>

          <div class="form-row">
              <button
                  type="submit"
                  ng-disabled="!vm.poolParams.name || vm.sending"
                  class="btn btn-primary page-action">
                  Add participants to pool
              </button>
          </div>
      </form>

  </adp-section-container>

  <adp-section-container class="adp-data-grid-container">
    <adp-data-grid
      schema="vm.schema"
    ></adp-data-grid>
  </adp-section-container>

</adp-content-container>
