<div class="adp-app-logo-container">
    <img ng-src="{{APP_CONFIG.resourceUrl}}{{interface.app.logo.tiny}}"
         class="adp-app-logo"
         alt=""/>
</div>
<div class="adp-app-title-container">
    <h1 class="adp-app-title">
        {{interface.app.title}}
    </h1>

    <h4 class="adp-app-slogan">
        {{interface.app.slogan}}
    </h4>
</div>
