<div id="auth" class="flex-scrollable md-primary-bg" layout="column" ms-scroll>
    <div id="auth-form-wrapper" layout="column" layout-align="center center">
        <div id="auth-form" class="md-whiteframe-8dp">
            <div class="logo">
                <hc-logo src="/public/logos/logo128x128.png"></hc-logo>
                <!-- <img src="assets/images/logos/logo128x128.png" alt=""> -->
                <!-- <span>HC</span> -->
            </div>

            <div class="title">Log in to your account</div>

            <ul class="errors" role="alert">
              <li ng-repeat="error in vm.errors">{{error.message}}</li>
            </ul>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="login" ng-model="vm.form.login" placeholder="Login"
                           translate
                           required>
                    <div ng-messages="loginForm.login.$error" role="alert">
                        <div ng-message="required">
                            <span>Login field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <!-- CAPTCHA -->
                <div vc-recaptcha key="vm.key" class="captcha" ng-if="!vm.captchaDisabled"></div>

                <div class="remember-forgot-password" layout="row" layout-xs="column"
                   layout-align="space-between center">
                    <!-- <md-checkbox class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span >Remember Me</span>
                    </md-checkbox> -->

                    <!-- <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color"
                       >Forgot Password?</a> -->
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="vm.login()">
                    LOG IN
                </md-button>
            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>


            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" ui-sref="app.register">Create an account</a>
            </div>
        </div>
    </div>
</div>
